<%= form_with(action: 'create', local: true) do |form| %>

  <div class="user-form">
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="actions">
      <%= form.submit 'Sign In' %>
    </div>
  </div>

<% end %>

<p class="sign-up-message">
  No account? <%= link_to 'Sign Up', new_user_path %>!
</p>
