<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

    <% @tasks.each do |task| %>
      <div class="task">
        <label>Task:</label>
        <p><%= task.description %></p>

        <label>Complete?:</label>
        <p><%= task.is_complete %></p>
      </div>
      <div>
        <span><%= link_to 'Show', task %></span>
        <span><%= link_to 'Edit', edit_task_path(task) %></span>
        <span><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>

<br>

<%= link_to 'New Task', new_task_path %>
