<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <div class='nav-bar clearfix'>
        <div class="links">
          <%= nav_link 'Profile', users_path %>
          <%= nav_link 'Tasks', tasks_path %>
        </div>
        <div class="logout"><%= button_to 'logout', {method: :post, controller: 'sessions', action: 'destroy'} %></div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
